:root {
    --base-size: calc(35px * (1vw / 19.2));
}

@font-face {
    font-family: 'maplestory';
    src: url('../assets/maplestory_light.otf');
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    cursor: url('../assets/defaultCursor.png'), auto;
}

div {
    font-family: maplestory;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

hr {
    height: 2px;
    border: none;
    background-color: #a0c4ff;
}