/* ./assets/ItemListMain.module.css */
.itemListMain {
  position: relative;
  padding-top: 40px; /* Adjust this value as needed */
}

.toggleContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.toggleSwitch {
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.slider {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  left: 2px;
}

.right {
  right: 2px;
}

.icon {
  font-size: 16px;
}

.label {
  margin-left: 10px;
  font-size: 14px;
  transition: color 0.3s;
}

.simpleLabel {
  color: #4a90e2;
}

.advancedLabel {
  color: #e24a4a;
}



@media (max-width: 600px) {
  .itemListMain {
    padding-top: 60px; /* Increase padding on smaller screens */
  }
  
  .toggleContainer {
    top: 5px;
    right: 5px;
  }
}